body {
  margin: 0;
  font-family: 'Cocogoose', sans-serif;
}

/*index page css*/
.top-intro{
  padding-top: 15px;
}

.set {
  margin-left: 20px;
  margin-right: 20px;
}

.header-intro {
  display: flex;
  justify-content: space-between;
}

.nav {
  display: flex;
  justify-content: start;
}

.img-flag {
  text-align: right;
}

.img-flag img {
  width: 40%;
}

#icon-nav {
  font-size: 36px;
  color: #d3d3d3;
}

.intro {
  display: flex;
  background-image: linear-gradient(rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.5)), url(../img/mining2.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  padding-bottom: 25%;
}

.article-intro {
  display: flex;
  flex-direction: column;
  margin-top: 15%;
}

.tagline {
  font-size: 0.9em;
  font-family: 'Cocogoose', sans-serif;
  font-style: normal;
  font-weight: 300;
  color: #ec5242;
}

.title-intro {
  font-size: 2em;
  margin-block-start: auto;
  margin-block-end: auto;
  font-family: 'Cocogoose', sans-serif;
  font-style: normal;
  font-weight: 300;
  color: #ec5242;
}

.description-intro {
  background-color: rgb(255, 255, 255, 0.67);
  padding: 20px;
  margin-top: 5%;
}

.description-intro p {
  color: #272a31;
  margin-block-start: auto;
  margin-block-end: auto;
  font-size: 1.3em;
  font-family: 'Lato', sans-serif;
  font-style: normal;
  font-weight: 300;
}

.date-intro {
  color: #d3d3d3;
  font-size: 1.5em;
  margin-block-start: 0.83em;
  margin-block-end: auto;
  font-family: 'Cocogoose', sans-serif;
  font-style: normal;
  font-weight: 300;
}

.address-intro {
  margin-block-start: auto;
  margin-block-end: auto;
  color: #d3d3d3;
  font-size: 1.3em;
  font-family: 'Lato', sans-serif;
  font-style: normal;
  font-weight: bold;
}

.program {
  display: flex;
  flex-direction: column;
  background-color: #272a31;
  padding-top: 10%;
  padding-bottom: 10%;
}

.title-program {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 10%;
}

.title-program h3 {
  margin-block-start: auto;
  margin-block-end: 1em;
  font-size: 1.3em;
  font-family: 'Lato', sans-serif;
  font-style: normal;
  font-weight: bold;
  color: #fff;
}

.underline-title-program {
  border: 1px solid #ec5242;
  width: 50px;
}

.subject-program {
  display: flex;
  flex-direction: column;
}

.main-program {
  display: grid;
  grid-template-columns: 10% 30% 60%;
  background-color: rgb(255, 255, 255, 0.10);
  padding: 10px;
  margin-bottom: 20px;
}

.main-program i {
  grid-column: 1;
  font-size: 20px;
  color: #fff;
  align-self: center;
}

.main-program h4 {
  grid-column: 2;
  font-size: 15px;
  margin-block-start: auto;
  margin-block-end: auto;
  color: #ec5242;
  font-family: 'Lato', sans-serif;
  font-style: normal;
  align-self: center;
}

.main-program p {
  grid-column: 3;
  font-size: 15px;
  margin-block-start: auto;
  margin-block-end: auto;
  color: #d3d3d3;
  font-family: 'Lato', sans-serif;
  font-style: normal;
  align-self: center;
}

.clearfix {
  margin: 10px;
}

.join-program {
  text-align: center;
  margin-top: 10%;
}

.join-program-button {
  padding: 20px;
  font-family: 'Lato', sans-serif;
  font-style: normal;
  font-size: 1.1em;
  background-color: #ec5242;
  color: #fff;
  border: none;
}

.speaker {
  display: flex;
  flex-direction: column;
  padding-top: 10%;
  padding-bottom: 10%;
}

.title-speaker {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 10%;
}

.title-speaker h3 {
  margin-block-start: auto;
  margin-block-end: 1em;
  font-size: 1.3em;
  font-family: 'Lato', sans-serif;
  font-style: normal;
  font-weight: bold;
  color: #272a31;
}

.subject-speaker {
  display: flex;
  flex-direction: column;
}

.main-speaker {
  display: grid;
  grid-template-columns: 30% 70%;
  margin-bottom: 20px;
}

.picture-speaker {
  grid-column: 1;
  display: flex;
  flex-direction: column;
  padding-left: 10px;
  padding-top: 10px;
  background-image: url(../img/checker.png);
  background-repeat: no-repeat;
  background-size: 30%;
}

.picture-speaker img {
  width: 100%;
}

.description-speaker {
  grid-column: 2;
  display: flex;
  flex-direction: column;
  padding-left: 10px;
}

.description-speaker h4 {
  color: #272a31;
  margin-block-start: inherit;
  margin-block-end: inherit;
  font-size: 1em;
  font-family: 'Lato', sans-serif;
  font-style: normal;
  font-weight: bold;
}

.description-speaker span {
  color: #ec5242;
  font-size: 0.8em;
  font-family: 'Lato', sans-serif;
  font-style: italic;
  font-weight: 300;
}

.description-speaker div {
  border: 1px solid #d3d3d3;
  width: 20px;
  margin-top: 5px;
  margin-bottom: 5px;
}

.description-speaker p {
  color: #272a31;
  font-size: 0.9em;
  margin-block-start: inherit;
  margin-block-end: inherit;
  font-family: 'Lato', sans-serif;
  font-style: normal;
  font-weight: 300;
}

.more-speaker-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 15px;
  font-size: 16px;
  color: #272a31;
  background-color: #fff;
  border: 1px solid #d3d3d3;
  border-radius: 5px;
  font-family: 'Lato', sans-serif;
  font-style: normal;
  font-weight: bold;
}

.more-speaker-button img {
  padding-left: 10px;
}

/*About page css*/
.intro-about {
  display: flex;
  background-image: linear-gradient(rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.5)), url(../img/mining-about.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  padding-bottom: 25%;
}

.article-intro-about {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 15%;
}

.title-intro-about {
  font-size: 2em;
  text-align: center;
  margin-block-start: auto;
  margin-block-end: auto;
  font-family: 'Cocogoose', sans-serif;
  font-style: normal;
  font-weight: 300;
  color: #ec5242;
}

.description-intro-about {
  background-color: rgb(255, 255, 255, 0.67);
  padding: 20px;
  margin-top: 5%;
}

.description-intro-about p {
  color: #272a31;
  margin-block-start: auto;
  margin-block-end: auto;
  text-align: center;
  font-size: 1.3em;
  font-family: 'Lato', sans-serif;
  font-style: normal;
  font-weight: 300;
}

.address-intro-about {
  margin-block-start: auto;
  margin-block-end: auto;
  color: #d3d3d3;
  text-align: center;
  font-size: 1.3em;
  font-family: 'Lato', sans-serif;
  font-style: normal;
  font-weight: bold;
  margin-top: 30px;
}

.program-about {
  display: flex;
  flex-direction: column;
  padding-top: 10%;
  padding-bottom: 10%;
}

.title-program-about {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 10%;
}

.title-program-about h3 {
  margin-block-start: auto;
  margin-block-end: 1em;
  font-size: 1.3em;
  font-family: 'Lato', sans-serif;
  font-style: normal;
  font-weight: bold;
  line-height: 24px;
  color: #272a31;
}

.description-program-about h4 {
  margin-block-start: auto;
  margin-block-end: 1em;
  font-size: 1em;
  text-align: center;
  font-family: 'Lato', sans-serif;
  font-style: normal;
  font-weight: normal;
  line-height: 24px;
  color: #272a31;
}

.logo-program-about {
  text-align: center;
  padding: 25px;
  padding-top: 37px;
  border: 1px solid #d3d3d3;
  margin-top: 15px;
}

.summit-about {
  display: flex;
  flex-direction: column;
  padding-top: 10%;
  padding-bottom: 10%;
}

.title-summit-about {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 10%;
}

.title-summit-about h3 {
  margin-block-start: auto;
  margin-block-end: 1em;
  font-size: 1.3em;
  font-family: 'Lato', sans-serif;
  font-style: normal;
  font-weight: bold;
  color: #272a31;
}

.description-summit-about h4 {
  margin-block-start: auto;
  margin-block-end: 1em;
  font-size: 1em;
  text-align: center;
  font-family: 'Lato', sans-serif;
  font-style: normal;
  font-weight: normal;
  line-height: 24px;
  color: #272a31;
}

.past-summit-about-first {
  background-image: linear-gradient(rgba(69, 141, 215, 0.80), rgba(69, 141, 215, 0.80)), url(../img/past-first.jpg);
  background-repeat: no-repeat;
  background-size: 150%;
  padding-top: 80px;
  padding-bottom: 80px;
}

.past-summit-about-first h4 {
  margin-block-start: auto;
  margin-block-end: 1em;
  font-size: 1.8em;
  text-align: center;
  font-family: 'Lato', sans-serif;
  font-style: normal;
  font-weight: bold;
  line-height: 24px;
  color: #fff;
}

.past-summit-about-first p {
  margin-block-start: auto;
  margin-block-end: auto;
  font-size: 1.3em;
  text-align: center;
  font-family: 'Lato', sans-serif;
  font-style: normal;
  font-weight: normal;
  line-height: 24px;
  color: #fff;
}

.past-summit-about-second {
  background-image: linear-gradient(rgba(69, 141, 215, 0.80), rgba(69, 141, 215, 0.80)), url(../img/past-second.jpg);
  background-repeat: no-repeat;
  background-size: 180%;
  padding-top: 80px;
  padding-bottom: 80px;
}

.past-summit-about-second h4 {
  margin-block-start: auto;
  margin-block-end: 1em;
  font-size: 1.8em;
  text-align: center;
  font-family: 'Lato', sans-serif;
  font-style: normal;
  font-weight: bold;
  line-height: 24px;
  color: #fff;
}

.past-summit-about-second p {
  margin-block-start: auto;
  margin-block-end: auto;
  font-size: 1.3em;
  text-align: center;
  font-family: 'Lato', sans-serif;
  font-style: normal;
  font-weight: normal;
  line-height: 24px;
  color: #fff;
}

.gap {
  margin-top: 20px;
  margin-bottom: 20px;
}

.partner-about {
  display: flex;
  flex-direction: column;
  background-color: #272a31;
  padding-top: 10%;
  padding-bottom: 10%;
}

.title-partner-about {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 10%;
}

.title-partner-about h3 {
  margin-block-start: auto;
  margin-block-end: 1em;
  font-size: 1.3em;
  font-family: 'Lato', sans-serif;
  font-style: normal;
  font-weight: bold;
  color: #fff;
}

.list-partner-about {
  text-align: center;
}

.list-partner-about img {
  width: 100%;
}

.footer-about {
  display: grid;
  grid-template-columns: 40% 60%;
  margin-top: 30px;
  margin-bottom: 20px;
}

.first-footer-about {
  grid-column: 1;
  align-self: center;
}

.second-footer-about {
  grid-column: 2;
  align-self: center;
}

.second-footer-about h5 {
  margin-block-start: auto;
  margin-block-end: 1em;
  font-size: 1em;
  font-family: 'Lato', sans-serif;
  font-style: normal;
  font-weight: normal;
  color: #272a31;
}

.second-footer-about a {
  text-decoration: none;
  color: #ec5242;
}

/*menu css*/
/* .wrapper-menu {
  display: none;
  flex-direction: column;
} */

.wrapper-menu {
  background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.3)), url(../img/rdc-flag.png);
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}

.wrapper-menu .header {
  height: 150px;
  padding-top: 15px;
}

.menu {
  height: 62vh;
  display: flex;
  flex-direction: column;
}

.content-menu {
  flex: 1;
}

.menu-list {
  list-style: none;
  display: flex;
  flex-direction: column;
  align-content: space-between;
  align-items: center;
  width: 100%;
  padding-inline-start: inherit;
}

h4 {
  font-family: 'Lato', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 1.3em;
  line-height: 300%;
  text-align: center;
  color: #d3d3d3;
  margin-block-start: 0.1em;
  margin-block-end: 0.1em;
}

.menu-list a {
  text-decoration: none;
}